.lyrics pre {
  font-family: Verdana, sans-serif;
  font-size: 15px; /* Font size */
  line-height: 1.5; /* Line spacing */
  color: #333; /* Text color */
  white-space: pre-wrap; /* Preserve line breaks and spaces */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 700px;
}

.chords {
    color: gray;
    font-style: italic;
}

.dropdown-container {
    text-align: center;
    margin-bottom: 20px;
}

#key-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: border 0.3s ease;
}

#key-select:hover {
    border-color: #888;
}

.pretty-button {
  display: inline-block;
  padding: 10px 20px; /* Padding inside the button */
  font-size: 16px; /* Font size for the text */
  color: #fff; /* Text color */
  background-color: #007BFF; /* Background color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for hover effects */
}

.pretty-button:hover {
  background-color: #0056b3; /* Darker background on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.pretty-button:active {
  background-color: #004085; /* Even darker background when clicked */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow effect on click */
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Set your desired maximum width */
  max-height: 450px; /* Set your desired maximum height */
  margin: 0 auto; /* Center the container */
  background: #000; /* Background color to match video black bars */
}

.video-container::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* Aspect ratio for 16:9 */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mini-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
  background-color: #000;
  border: 2px solid #ccc;
  z-index: 1000;
  cursor: move;
}

.mini-player iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: move;
  z-index: 1; /* Ensure it stays above the iframe */
}
